<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <!-- --> <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"><!-- -->
    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='error_design.css')}}"/>
    <link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

    <title>Error 404 | Proyecto</title>
</head>
<body>
    <div id="left_square">
        
    </div>
    <div class="main_div">
        <h1> ERROR 404 </h1>
        <br>
        <br>
        <h3> La página no pudo ser encontrada </h3>
        <p> Verifique que haya ingresado la URL correctamente </p>
    </div>
    <div id="right_square">
        
    </div>

    <!-- Scripts de Bootstrap --> <!-- -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> <!-- -->
</body>
</html>