<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>

<body>
    <h2> Lista de URL: </h1>
        <p><a href="users/login">Login</a></p>
        <p><a href="users/all">Listar Usuarios</a></p>
        <p><a href="products/all">Listar Productos</a></p>
        <p><a href="products/detail/1">Ver Detalles de Producto</a></p>

        <p><a href="cart/100">Ver Carrito</a></p>
        <p><a href="cart/price/100">Ver Total de Precios</a></p>
        <p><a href="cart/qty/100">Ver Total de Cantidades</a></p>

</body>

</html>