<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <div style="background-color: rgba(218, 218, 218, 0.397); color: rgb(41, 41, 41); padding: 10px;">
    <h1> Lista de URL: </h1>
    <h3>Usuarios:</h3>
    <p><a href="users/all">a) Enlace para visualizar usuarios.</a></p>
    <h3>Productos:</h3>
    <p><a href="products/all">b) Enlace para visualizar productos.</a></p>
    <p><a href="products/detail/1">c) Enlace para filtrar un producto.</a></p>
    <h3>Carritos:</h3>
    <p><a href="cart/100">d) Enlace para visualizar un carrito.</a></p>
    <p><a href="cart/price/100">e) Enlace para visualizar el total a pagar.</a></p>
    <p><a href="cart/qty/100">f) Enlace para visualizar el total de productos.</a></p>
    </div>
</body>
</html>