<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div style="background-color: rgba(218, 218, 218, 0.397); color: rgb(41, 41, 41); padding: 10px;">
        
        {% if name == "listar" %}
        
            <h1>Lista de Productos:</h1>
            <p>Estos son todos los productos que se encuentran disponibles: </p>
            <br>
            {% for value in rendered_response %}
                <li>

                    <b>Código del Producto: </b>{{value['idProducto']}} |
                    <b>Nombre: </b>{{value['nombreProducto']}} |
                    <b>Inventario: </b>{{value['cantidadProducto']}} |
                    <b>Precio: </b>{{value['precioProducto']}}
                </li>       
            {% endfor %}    

        {% else %}

            <h1>Filtrar de Productos:</h1>
            <p>Estos son todos los productos que se encuentran disponibles: </p>
            <br>
                <li>
                    <b>Código del Producto: </b>{{rendered_response['idProducto']}} |
                    <b>Nombre: </b>{{rendered_response['nombreProducto']}} |
                    <b>Inventario: </b>{{rendered_response['cantidadProducto']}} |
                    <b>Precio: </b>{{rendered_response['precioProducto']}}
                </li>       
        {% endif %}
    </div>

</body>
</html>