<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_style.css')}}"/>
    <title>Página Total Cantidad</title>
</head>
<body>
    <div class="main_div">
        <div class="title_div"><h1>Cantidad Total de Productos en Carrito:</h1></div>
            <div class="info_div">
                <p> Información del Carrito: </p>
            </div>
            <div class="data_div">
                <b>La cantidad de productos que se encuentran en el carrito del cliente </b>{{username["username"]}}<b> es: </b> {{rendered_response}} <b>.</b>
        </div>
    </div>
</body>
</html>